{% extends 'base.html' %}

{% block meta %}
    <title>Login</title>
{% endblock meta %}

{% block content %}

<body class="gradient-form h-full bg-yellow-50 dark:bg-neutral-700">
  <div class="container mx-auto h-screen p-20 xl:w-3/4">
    <div
      class="g-6 flex h-full flex-wrap items-center justify-center text-neutral-800 dark:text-neutral-200">
      <div class="w-full">
        <div
          class="block rounded-lg bg-white shadow-lg dark:bg-neutral-800">
          <div class="g-0 lg:flex lg:flex-wrap">
            <!-- Left column container-->
            <div class="px-8 md:px-0 lg:w-6/12">
              <div class="md:mx-6 md:p-12">
                <!--Logo-->
                <div class="sm:mx-auto sm:w-full sm:max-w-sm">
                    <img class="mx-auto h-10 w-auto" src="https://i.postimg.cc/tTLYQJ53/6543540.png">
                    <h2 class="mt-2 text-center text-2xl font-bold leading-9 tracking-tight text-gray-900">Sign in to your account</h2>
                </div>

                <form class="space-y-6" action="" method="POST">
                    {% csrf_token %}
                    <div>
                    <label for="username" class="block text-sm font-medium leading-6 text-gray-900">Username</label>
                    <div class="mt-2">
                        <input type="text" id="username" name="username" placeholder="Username" required class="block w-full rounded-md border-0 py-2 px-3 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6">
                    </div>
                    </div>
            
                    <div>
                    <div class="flex items-center justify-between">
                        <label for="password" class="block text-sm font-medium leading-6 text-gray-900">Password</label>
                    </div>
                    <div class="mt-2">
                        <input id="password" name="password" type="password" placeholder="Password" required class="block w-full rounded-md border-0 py-1.5 px-3 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-5 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6">
                    </div>
                    </div>
            
                    <div>
                    <button type="submit" class="flex w-full justify-center rounded-md bg-red-800 px-3 py-1.5 text-sm font-semibold leading-6 text-white shadow-sm hover:bg-gray-800 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600">Sign in</button>
                    </div>
                </form>
                {% if messages %}
                    <ul class="mt-3">
                        {% for message in messages %}
                            <li class="alert alert-danger">{{ message }}</li>
                        {% endfor %}
                    </ul>
                {% endif %}
            
                <p class="mt-10 text-center text-sm text-gray-500">
                    Don't have an account yet?
                    <a href="{% url 'main:register' %}" class="font-semibold leading-6 text-yellow-600 hover:text-yellow-600">Register Now</a>
                </p>
              </div>
            </div>

            <!-- Right column container with background and description-->
            <div
              class="flex items-center rounded-b-lg lg:w-6/12 lg:rounded-r-lg lg:rounded-bl-none"
              style="background: url(https://i.postimg.cc/66dJwT6M/3833025.jpg) no-repeat center center; background-size: cover;">
              <div class="px-4 py-6 text-white md:mx-6 md:p-12">
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>


<footer class="text-center py-4 bg-gray-700 text-white">
    <p class="text-sm">&copy; {% now "Y" %} Rifda Aulia Nurbahri - 2206081660 - PBP D</p>
</footer>

{% endblock content %}
