{% extends 'base.html' %}

{% block content %}
    <html>
    <head>
        <style>
            body {
                background-color: lightyellow;
                font-family: Arial, sans-serif;
            }
            h1 {
                color: firebrick;
                text-align: center;
            }
            p {
                color: black;
                text-align: center;
            }
        </style>
    </head>
    <body>
        <h1>{{ app }}</h1>
        <p>**NEW!** Amoron Rental is now open for renting electronics. You can choose from a variety of electronics, such as LED Projector, TV, Fridge, and more. Whether you need them for study or entertainment, Amoron Rental has you covered. Try it today!</p>
        <p>Created by: Rifda Aulia Nurbahri</p>
        <p>Class: PBP D</p>
    </body>
    </html>

<h2>Welcome {{ name }}!</h2>

<h2>You saved {{ products.count }} item(s) in this app</h2>

<table style="border: 1px solid black; border-collapse: collapse;">
    <tr>
        <th style="border: 1px solid black; padding: 10px;">Name</th>
        <th style="border: 1px solid black; padding: 10px;">Description</th>
        <th style="border: 1px solid black; padding: 10px;">Status</th>
        <th style="border: 1px solid black; padding: 10px;">Amount</th>
        <th style="border: 1px solid black; padding: 10px;">Price</th>
    </tr>

    {% for product in products %}
        <tr>
            <td style="border: 1px solid black; padding: 10px;">{{ product.name }}</td>
            <td style="border: 1px solid black; padding: 10px;">{{ product.description }}</td>
            <td style="border: 1px solid black; padding: 10px;">{{ product.status }}</td>
            <td style="border: 1px solid black; padding: 10px;">
                {{ product.amount }}
                <a href="{% url 'main:increment_amount' product.id %}">
                    <button>+</button>
                </a>
                <a href="{% url 'main:decrement_amount' product.id %}">
                    <button>-</button>
                </a>
            </td>
            <td style="border: 1px solid black; padding: 10px;">{{ product.price }}</td>
            <td style="border: 1px solid black; padding: 10px;">
                <a href="{% url 'main:delete_product' product.id %}">
                    <button>Delete</button>
                </a>
            </td>
        </tr>
    {% endfor %}

</table>

<br />

<h5>Sesi terakhir login: {{ last_login }}</h5>

<a href="{% url 'main:create_product' %}">
    <button>
        Add New Product
    </button>
</a>

<a href="{% url 'main:logout' %}">
    <button>
        Logout
    </button>
</a>

{% endblock content %}