<html>
<head>
    <style>
        body {
            background-color: lightyellow;
            font-family: Arial, sans-serif;
        }
        h1 {
            color: firebrick;
            text-align: center;
        }
        p {
            color: black;
            text-align: center;
        }
    </style>
</head>
<body>
    <h1>{{ app }}</h1>
    <p>**NEW!** Amoron Rental is now open for renting electronics. You can choose from a variety of electronics, such as LED Projector, TV, Fridge, and more. Whether you need them for study or entertainment, Amoron Rental has you covered. Try it today!</p>
    <p>Created by: {{ nama }}</p>
    <p>Class: {{ kelas }}</p>
</body>
</html>