{% extends 'base.html' %}

{% block content %}
  <div class=>
  <header class="absolute inset-x-0 top-0 z-50">
    <nav class="flex items-center justify-between p-6 lg:px-8" aria-label="Global">
      <div class="flex lg:flex-1 items-center">
        <a href="#" class="-m-1 p-1 flex items-center">
          <span class="sr-only">Your Company</span>
          <img class="h-8 w-auto" src="https://i.postimg.cc/tTLYQJ53/6543540.png" alt="">
          {% if user.is_authenticated %}
            <span class="text-sm font-semibold leading-6 text-gray-900 ml-4">Welcome, {{ user.username }}</span>
          {% endif %}
        </a>
      </div>      
      <div class="hidden lg:flex lg:flex-1 lg:justify-end">
        <a href="{% url 'main:logout' %}" class="text-sm font-semibold leading-6 text-gray-900">Log Out <span aria-hidden="true">&rarr;</span></a>
      </div>
    </nav>
  </header>

  <div class="relative isolate px-6 pt-14 lg:px-8">
    <div class="absolute inset-x-0 -top-40 -z-10 transform-gpu overflow-hidden blur-3xl sm:-top-80" aria-hidden="true">
      <div class="relative left-[calc(50%-11rem)] aspect-[1155/678] w-[36.125rem] -translate-x-1/2 rotate-[30deg] bg-gradient-to-tr from-[#B32E22] to-[#FFFBC8] opacity-31 sm:left-[calc(50%-30rem)] sm:w-[72.1875rem]" style="clip-path: polygon(74.1% 44.1%, 100% 61.6%, 97.5% 26.9%, 85.5% 0.1%, 80.7% 2%, 72.5% 32.5%, 60.2% 62.4%, 52.4% 68.1%, 47.5% 58.3%, 45.2% 34.5%, 27.5% 76.7%, 0.1% 64.9%, 17.9% 100%, 27.6% 76.8%, 76.1% 97.7%, 74.1% 44.1%)"></div>
    </div>
    <div class="mx-auto max-w-2xl py-16 sm:py-32">
      <div class="hidden sm:mb-8 sm:flex sm:justify-center">
      </div>
      <div class="text-center">
        <h1 class="text-4xl font-bold tracking-tight text-red-800 sm:text-6xl">Amoron Rental</h1>
        <p class="mt-6 text-lg leading-8 text-gray-600">Imagine stepping into a world where our appliances are not just tools but your trusted companions on the rollercoaster of university life</p>             
        <div id ="product_grid" class="mt-6 grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-6"></div>        
        <p class="mt-6 text-lg leading-8 text-gray-600">Last login session: {{ last_login }}</p>
        <div class="mt-6 flex items-center justify-center gap-x-6">
          <button type="button" class="rounded-md bg-red-800 px-3.5 py-2.5 text-sm font-semibold text-white shadow-sm hover:bg-gray-700 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600" data-bs-toggle="modal" data-bs-target="#exampleModal">Add Product by AJAX</button>
        </div>
      </div>
    </div>
    <div class="absolute inset-x-0 top-[calc(100%-13rem)] -z-10 transform-gpu overflow-hidden blur-3xl sm:top-[calc(100%-40rem)]" aria-hidden="true">
      <div class="relative left-[calc(50%+3rem)] aspect-[1155/678] w-[36.125rem] -translate-x-1/2 bg-gradient-to-tr from-[#B32E22] to-[#FFFBC8] opacity-31 sm:left-[calc(50%+36rem)] sm:w-[72.1875rem]" style="clip-path: polygon(74.1% 44.1%, 100% 61.6%, 97.5% 26.9%, 85.5% 0.1%, 80.7% 2%, 72.5% 32.5%, 60.2% 62.4%, 52.4% 68.1%, 47.5% 58.3%, 45.2% 34.5%, 27.5% 76.7%, 0.1% 64.9%, 17.9% 100%, 27.6% 76.8%, 76.1% 97.7%, 74.1% 44.1%)"></div>
    </div>
  </div>
  
  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">Add New Product</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form id="form" onsubmit="return false;">
                    {% csrf_token %}
                    <div class="mb-3">
                        <label for="name" class="col-form-label">Name:</label>
                        <input type="text" class="form-control" id="name" name="name"></input>
                    </div>
                    <div class="mb-3">
                        <label for="price" class="col-form-label">Price:</label>
                        <input type="number" class="form-control" id="price" name="price"></input>
                    </div>
                    <div class="mb-3">
                      <label for="amount" class="col-form-label">Amount:</label>
                      <input type="number" class="form-control" id="amount" name="amount"></input>
                    </div>
                    <div class="mb-3">
                      <label for="status" class="col-form-label">Status:</label>
                      <input type="text" class="form-control" id="status" name="status"></input>
                    </div>
                    <div class="mb-3">
                        <label for="description" class="col-form-label">Description:</label>
                        <textarea class="form-control" id="description" name="description"></textarea>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" id="button_add" data-bs-dismiss="modal">Add Product</button>
            </div>
        </div>
    </div>
  </div>


  <footer class="text-center py-4 bg-gray-700 text-white">
    <p class="text-sm">&copy; {% now "Y" %} Rifda Aulia N - 2206081660 - PBP D</p>
  </footer>

  </div>

<script>
  async function getProducts() {
    return fetch("{% url 'main:get_product_json' %}").then((res) => res.json())
  }

  async function refreshProducts() {
    const products = await getProducts()

    let htmlString = "";
    products.forEach((item, index) => {
        htmlString += `
        <div class="bg-white rounded-lg overflow-hidden shadow-lg ${index === products.length - 1 ? 'bg-blue-200' : ''}">
            <div class="p-4">
                <h3 class="text-xl font-semibold">${item.name}</h3>
                <p class="text-gray-600">${item.description}</p>
                <p class="text-gray-800 font-semibold mt-2">${item.price}</p>

                <!-- Increment and Decrement Buttons -->
                <div class="mt-4 flex justify-center">
                    <div class="flex items-center space-x-2">
                        <!-- Decrement Button -->
                        <button onclick="decrementAmount(${item.pk})" class="bg-green-500 hover:bg-green-600 text-white font-bold py-1 px-2.5 rounded">-</button>

                        <!-- Amount Display -->
                        <span id="amount${item.pk}" class="text-lg font-semibold">${item.amount}</span>

                        <!-- Increment Button -->
                        <button onclick="incrementAmount(${item.pk})" class="bg-green-500 hover:bg-green-600 text-white font-bold py-1 px-2 rounded">+</button>
                    </div>
                </div>

                <!-- Edit and Delete Buttons -->
                <div class="mt-4 flex justify-center">
                    <div>
                        <a href="${item.edit_url}" class="btn btn-primary btn-sm">
                            Edit
                        </a>
                        <button onclick="deleteProduct(${item.pk})" class="btn btn-danger btn-sm">Delete</button>
                    </div>
                </div>
            </div>
        </div>` 
    });

    document.getElementById("product_grid").innerHTML = htmlString;
}

  async function incrementAmount(id) {
      const response = await fetch(`/increment-amount/${id}`);
      refreshProducts();
  }

  async function decrementAmount(id) {
      const response = await fetch(`/decrement-amount/${id}`);
      refreshProducts();
  }

  async function deleteProduct(id) {
    const response = await fetch(`/delete-product/${id}`);
      refreshProducts();
  }

  refreshProducts();

  function addProduct() {
      fetch("{% url 'main:add_product_ajax' %}", {
          method: "POST",
          body: new FormData(document.querySelector('#form'))
      }).then(refreshProducts)

      document.getElementById("form").reset()
      return false
    }

    document.getElementById("button_add").onclick = addProduct

</script>

{% endblock content %}

